In [2]:
#Write a code to create a string with your name and print it.
name ="Saumya"
print(name)

Saumya

In [4]:
# Write a code to find the length of the string "Hello World"
text ="Hello World"
print(len(text))

11

In [5]:
#Write a code to slice the first 3 characters from the string "Python Programming"
s = "Python Programming"
print(s[:3])

Pyt

In [6]:
#Write a code to convert the string "hello" to uppercase
word ="Hello"
print(word.upper())

HELLO

In [7]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"
sentence ="I like apple"
print(sentence.replace("apple", "orange"))

I like orange

In [9]:
#Write a code to create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [10]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [11]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
numbers = [1,2,3,4,5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [12]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
print(letters[1])  # Indexing starts at 0

b

In [14]:
#Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10,20,30,40,50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [15]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [16]:
#Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [17]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10,20,5,15)
print(min(numbers))

5

In [19]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [ ]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [20]:
fruits = ('apple', 'banana', 'kiwi')
print('kiwi' in fruits)

True

In [21]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

In [22]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1,2,3,4,5}
my_set.clear
print(my_set)

{1, 2, 3, 4, 5}

In [27]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1,2,3,4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [28]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [29]:
#Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [30]:
#Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {"name": "Alice", "age": 30, "city": "Paris"}
print(person)

{'name': 'Alice', 'age': 30, 'city': 'Paris'}

In [31]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [32]:
#Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [33]:
#Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [34]:
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

In [35]:
#Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = ('a', 'b', 'c')
my_dict = {'name': 'Alice', 'age': 25}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: ('a', 'b', 'c')
Dictionary: {'name': 'Alice', 'age': 25}

In [39]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random

random_numbers = random.sample(range(1, 101), 5)  # 5 unique random numbers
random_numbers.sort()
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [49, 57, 68, 91, 97]

In [40]:
#Write a code to create a list with strings and print the element at the third index.
string_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print("Element at index 3:", string_list[3])

Element at index 3: date

In [41]:
#Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
#Write a code to convert a list of strings into a set.
string_list = ['apple', 'banana', 'apple', 'cherry']
string_set = set(string_list)
print("Set from list:", string_set)